<div class="form-new">
  <h2 class="form-title">スペース登録</h2>
  <%= form_with(model: @shop, url: shops_path, local: true) do |f| %>
      <%= render "errors_form", object: @shop %>
      <%= render "form", f: f %>
      <%= f.submit "新規作成", class: "btn form-submit" %>
  <% end %>
</div>
