<div class="container small-container">
	<h2 class="center form-title">管理者　プロフィール編集</h2>
	<%= form_with(model: @admin, url: admin_registration_path(@admin), method: :patch, local: true) do |f| %>
		<%= render "errors_form", object: @admin %>
	  <%= render "form", f: f %>
	  <%= f.submit "更新する", class: "btn btn-primary form-input" %>
	<% end %>
</div>