
<div class="form-new">
  <h2 class="center form-title">管理者　新規作成</h2>
  <%= form_with(model: @admin, url: admin_registrations_path, local: true) do |f| %>
    <%= render "errors_form", object: @admin %>
    <%= render "form", f: f %>
    <%= f.submit "新規作成", class: "btn form-submit" %>
  <% end %>
</div>