<div class="container small-container">
<h2 class="center form-title">管理者　新規作成</h2>

<%= form_with(model: @admin, url: admin_registrations_path, local: true) do |f| %>
  <%= render "form", f: f%>
<% end %>
</div>