<!--errorの表示-->
<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul class="error-explanation">
      <% object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>