@import "bootstrap-sprockets";
@import "bootstrap";

.form-new{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.form-title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Hiragino Maru Gothic ProN';
}

.field{
  margin-bottom: 20px;
}

.form-label{
  font-size: 18px;
  font-family: 'Hiragino Maru Gothic ProN';
  color: limegreen;
}

.form-input{
  width: 300px;
  height: 30px;
  border: solid 1px silver;
  border-radius: 15px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.form-input:hover{
  transition: 0.1s;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.9);
}

.form-memo{
  font-size: 13px;
}

.form-submit{
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: limegreen;
  color: white;
  border-radius: 15px;
}

.form-submit:hover{
  color: ghostwhite;
  box-shadow: 0px 0px 3px rgba(0,0,0,1);
}

.form-submit:active{
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}


.component-form{
  margin: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.component-image{
  border-radius: 20px 20px 0 0;
}

.component-text{
  padding: 20px;
}

.menu-form{
  margin-right: 40px;
}

.img-box {
  position: relative;
}
.img-box .active {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.img-box:hover .hover{
  z-index: 3;
}

.img-box:active .press{
  z-index: 3;
}

